* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}


@font-face {
  font-family: 'Playfair Display';
  src: url(../fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
  font-family: 'Playfair Display';
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: 'Post No Bills Jaffna';
  src: url(../fonts/PostNoBillsJaffna-Bold.ttf);
}

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/PTSans-Regular.ttf);
}
